@import "./variables";
@import "./font";

* {
  font-family: "FuturaBook", "Montserrat";
  font-size: 18px;
  letter-spacing: 0.1em;
}

body {
  background-color: $background-primary;

  &::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background: $font-primary-invert;
      border-radius: 110px;
      -webkit-border-radius: 110px;
      -moz-border-radius: 110px;
      -ms-border-radius: 110px;
      -o-border-radius: 110px;
      border-left: solid 1px $font-primary;
    }

    &-track {
      background: $gray;
    }
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 21px;
  }
}
