/* PRIMARY COLOR */
$black: #020b15;
$white: #ffffff;
$red: #ff4d5a;
$cyan: #00b2a5;
$gray: #393939;
$lightgray: #d3d3d3;
$cyanblue: #2b394a;

$flame: #e44d26;
$lapislazuli: #2565ae;
$minionyellow: #f0db4f;
$toolbox: #787cb5;
$seablue: #00758f;
$strongblue: #007acc;
$sage: #afc97e;
$americanred: #b52e31;
$mint: #41b883;
$skyblue: #61dbfb;

/* CUSTOM COLOR */
$color-facebook: #4267b2;
$color-twitter: #1da1f2;
$color-instagram: #517fa4;

/* FONT COLOR */
$font-primary: $black;
$font-primary-invert: $white;
$font-secondary: $red;
$font-title: $cyanblue;

/* BACKGROUND COLOR */
$background-primary: $black;
$background-secondary: $white;
