@import "../assets/scss/variables";
@import "../assets/scss/fade";

#home {
  color: $font-primary-invert;
  z-index: 1;
  mix-blend-mode: difference;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .name {
    font-size: 48px;
  }

  .btnShowPortfolio {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 50%;
    bottom: 36%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    cursor: pointer;

    .faAngleDownIcon {
      font-size: 32px;
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transition: transform 550ms ease;
      -webkit-transition: transform 550ms ease;
      -moz-transition: transform 550ms ease;
      -ms-transition: transform 550ms ease;
      -o-transition: transform 550ms ease;

      &:hover {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transition: transform 550ms ease;
        -webkit-transition: transform 550ms ease;
        -moz-transition: transform 550ms ease;
        -ms-transition: transform 550ms ease;
        -o-transition: transform 550ms ease;
        color: $cyan;
      }
    }
  }

  @include fade-in;
  @include fade-out;
}

@media (min-width: 768px) {
  #home {
    .name {
      font-size: 100px;
    }

    .btnShowPortfolio {
      bottom: 32%;

      .faAngleDownIcon {
        font-size: 42px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #home {
    .name {
      font-size: 128px;
    }

    .btnShowPortfolio {
      bottom: 25%;

      .faAngleDownIcon {
        font-size: 32px;
      }
    }
  }
}
