@import "../assets/scss/variables";

.socialNetworks {
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    li {
      a {
        color: $font-primary-invert;

        &#facebook {
          &:hover {
            color: $color-facebook;
          }
        }
        &#twitter {
          &:hover {
            color: $color-twitter;
          }
        }
      }
    }
  }

  &.home {
    width: 225px;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    .icons {
      font-size: 24px;
    }
  }

  &.portfolioP {
    ul {
      justify-content: space-between;
      flex-direction: column;
      height: 100px;

      li {
        .icons {
          z-index: 1;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .socialNetworks {
    &.home {
      width: 400px;
      top: 35%;

      .icons {
        font-size: 42px;
      }
    }

    &.portfolioP {
      width: 150px;
      ul {
        justify-content: space-between;
        flex-direction: row;
        height: 100%;

        li {
          .icons {
            z-index: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .socialNetworks {
    &.home {
      width: 250px;
      top: 30%;

      .icons {
        font-size: 24px;
      }
    }

    &.portfolioP {
      width: 250px;
      ul {
        justify-content: space-evenly;
        flex-direction: row;
        height: 100%;

        li {
          .icons {
            z-index: 1;
          }
        }
      }
    }
  }
}
