@import "../../../assets/scss/variables";

.EducationContainer {
  width: 100%;

  .TitleContainer {
    text-align: center;
    text-transform: uppercase;
    color: $font-title;
  }

  .ContentContainer {
    display: flex;

    .ListEducation {
      width: 100%;
      padding: 10px 0;
    }
  }
}

@media (min-width: 768px) {
  .EducationContainer {
    height: 100vh;

    .ContentContainer {
      height: 100%;
      .ListEducation {
        align-self: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 1200px) {
  .EducationContainer {
    height: 100vh;

    .TitleContainer {
      padding-left: 120px;
      text-align: left;
    }

    .ContentContainer {
      height: 80%;
      padding: 0 200px;

      .ListEducation {
        align-self: center;
      }
    }
  }
}
