@import "../../../assets/scss/variables";

.PersonalDetailContainer {
  width: 100%;
  height: 100vh;
  padding-top: 80px;

  .TitleContainer {
    text-align: center;
    text-transform: uppercase;
    color: $font-title;
  }

  .ContentContainer {
    padding: 0 200px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .PersonalDetailContainer {
    padding-top: 160px;

    .TitleContainer {
      padding-left: 120px;
      text-align: left;
    }
  }
}
